# sslh configuration for saaz:
# ssh to localhost
# https to nextcloud 

foreground: true;
inetd: false;
numeric: false;
transparent: false;
user: "yves";
pidfile: "/tmp/sslh.pid";

syslog_facility: "auth";

# Where to write the ECH configurations
ech_conf_sink: "/tmp/ech";

# Logging configuration
# Value: 1: stdout; 2: syslog; 3: stdout+syslog; 4: logfile; ...; 7: all


verbose: 1;


# Change hostname with your external address name.
listen:
(
    { host: "inet"; port: "4443"; },
    { host: "chaton"; port: "4445"; }
);

protocols:
(
     { name: "ssh"; service: "ssh"; host: "localhost"; port: "22"; fork: true; },
     { name: "tls"; sni_hostnames: [
                           "inet.rutschle.net", "lists.rutschle.net"
                    ]; 
                    host: "localhost"; port: "4453";  },
     { name: "tls"; sni_hostnames: [
                           "chaton.rutschle.net"
                    ]; 
                    host: "localhost"; port: "4455";  }
);


on-timeout: "ssh";
