[Unit]
Description=SSL/SSH multiplexer

[Service]
EnvironmentFile=/etc/conf.d/sslh
ExecStart=/usr/bin/sslh --foreground $DAEMON_OPTS

[Install]
WantedBy=multi-user.target
